# ignore everything
*

# allow specific files
!.gitignore
!scraper.py

# allow folder (escape space!)
!daiict_documents\ raw/
!daiict_documents\ raw/**

!daiict_document processed/
!daiict_document processed/**

!README.md

!Vector_Database/
!Vector_Database/**